/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0;
	padding: 65px 0 0 0;
	min-height: 100vh;
	background-color: #f2f2f2;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	color: #1C1B1B;
	line-height: 1.2;
}

h1 {
	margin-bottom: 10px;
	font-size: 34px;
}

h2 {
	font-size: 20px;
}

a {
	color: #1C1B1B;
}

.small-text {
	color: #676767;
	font-size: 14px;
	line-height: 1.2;
}

.text-white {
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

@media all and (min-width: 800px) {
	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 24px;
	}
}

@media all and (min-width: 1200px) {
	h1 {
		font-size: 42px;
	}
}